@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Comic+Neue&family=Source+Sans+Pro&display=swap");

:root {
  --ff-heading: "Lora", serif;
  --ff-body: "Source Sans Pro", sans-serif;
  --clr-base-one: #e52165;
  --clr-base-two: #0d1137;
  --clr-base-dark: #000000;
  --clr-base-light: #ffffff;
  --transition-one: 1s ease-in-out;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* smaller screen */
@media screen and (max-width: 768px) {
  body {
    font-size: 28px;
  }
}

ul {
  list-style-type: none;
}
